{% load static %}
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main_page' %}">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span style="color:red">Ya</span>tube</a>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'about_author' %}">Об авторе</a>
        </li>
          <li class="nav-item">
            <a class="nav-link link-light"
               href="{% url 'login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"
               href="{% url 'signup' %}">Регистрация</a>
          </li>
      </ul>

    </div>
  </nav>